<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="force-calculator">
  <template>
    <style>
      :host {
        display: block;
      }
      #preview {
        display: none;
      }
    </style>
    <table id="preview"></table>
  </template>

  <script>
    /**
     * `force-calculation`
     * Calculates forces applied to a point given a motion detection
     * motion pixel map (two dimensional array).
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ForceCalculator extends Polymer.Element {
      static get is() { return 'force-calculator'; }
      static get properties() {
        return {
          forceMap: {
            type: Array
          },
          angleMap: {
            type: Array
          },
          radius: {           // Radius of the forceMap
            type: Number,
            value: 20
          },
          fallOff: {          // fall off for calculating the forceMap, in %
            type: Number,
            value: 100
          },
          x: {
            type: Number,
            value: 90
          },
          y: {
            type: Number,
            value: 54
          },
          forceMapPreview: {
            type: Boolean,
            value: false
          },
          calculateForce: {
            type: Function,
            notify: true
          },
          motionDetectionToVideoScale: {
            type: Number,
            value: 2
          },
          fx: {
            type: Number,
            notify: true
          },
          fy: {
            type: Number,
            notify: true
          },
          forces: {
            type: Array,
            value: function () {
              return [];
            },
            notify: true
          }
        };
      }
      ready() {
        super.ready();
        this.forceMap = new Array(this.radius*2+1);
        for (var i=0; i<this.radius*2+1; i++) {
          this.forceMap[i] = new Array(this.radius*2+1);
          for (var ii=0; ii<this.radius*2+1; ii++) {
            var r = Math.sqrt(Math.pow(Math.abs(this.radius-i), 2)+Math.pow(Math.abs(this.radius-ii), 2));
            this.forceMap[i][ii] = r>=this.radius?0:1-r*this.fallOff/(100*this.radius);
          }
        }
        if (this.forceMapPreview)
          this.generatePreview();
        var _this = this;
        this.calculateForce = function (e) {
          _this.calculate (e);
        };
      }

      calculate(e) {
        if (!e.hasMotion||e.score>6000)     // score of above 6000 is probably just noise
          return;
        var vx = 0;
        var vy = 0;
        var x = Math.round(this.x/this.motionDetectionToVideoScale);
        var y = Math.round(this.x/this.motionDetectionToVideoScale);
        this.splice ('forces', 0, this.forces.length);
        for (var i in e.motionPixels) {
          for (var ii in e.motionPixels[i]) {
            if ((Math.abs(x-i)<=20)&&(Math.abs(y-ii)<=20)) {
              //console.log (this.x+":"+i+"\t"+this.y+":"+ii);
              vx += this.forceMap[20+x-i][20+y-ii]*(x-i);
              vy += this.forceMap[20+x-i][20+y-ii]*(y-ii);
              var force = {
                x: i*this.motionDetectionToVideoScale,
                y: ii*this.motionDetectionToVideoScale,
                centerX: this.x,
                centerY: this.y,
                strength: e.motionPixels[i][ii]
              }
              this.push('forces', force);
            }
          }
        }
        if (vx>0||vy>0) {
          this.fx = vx;
          this.fy = vy;
          console.log("=================");
          console.log (vx+":"+vy+"\t"+x);
        }
      }

      generatePreview() {
        var t = this.$.preview;
        t.style.display = "block";
        for (var i=0; i<this.forceMap.length; i++) {
          var tr = document.createElement("TR");
          for (var ii=0; ii<this.forceMap.length; ii++) {
            var td = document.createElement("TD");
            td.innerHTML = Math.round(this.forceMap[i][ii]*100)/100;
            tr.appendChild(td);
          }
          t.appendChild(tr);
        }
      }
    }
    window.customElements.define(ForceCalculator.is, ForceCalculator);
  </script>
</dom-module>
