<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="motion-detection">
  <template>
    <style>
      :host {
        display: block;
      }
      video {
        display: none;
      }
    </style>
    <video id="videoElement" autoplay></video>
    <div id="processed"></div>
  </template>

  <script>
    /**
     * `motion-detection`
     * Does motion detection from a media stream.
     * Based on https://github.com/lonekorean/diff-cam-engine
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MotionDetection extends Polymer.Element {
      static get is() { return 'motion-detection'; }
      static get properties() {
        return {
          source: {                   // Source media stream
            type: Object,
            notify: true,
            observer: '_sourceChanged'
          },
          captureCanvas: Object,      // internal canvas for capturing full images from video
	        captureContext: Object,    // context for capture canvas
        	diffCanvas: Object,        // internal canvas for diffing downscaled captures
	        diffContext: Object,       // context for diff canvas
	        motionCanvas: Object,      // receives processed diff images
	        motionContext: Object,     // context for motion canvas
          diffWidth: {               // width of media used to calculate diff
            type: Number,
            value: 320
          },
		      diffHeight: {             // height of media used to calculate diff
            type: Number,
            value: 240
          },
          captureWidth: {
            type: Number,
            value: 640
          },
          captureHeight: {
            type: Number,
            value: 480
          },
          isReadyToDiff: {
            type: Boolean,
            value: false
          },
          pixelDiffThreshold: {     // minimum diff between pixel values to count as changed
            type: Number,
            value: 24,
            notify: true
          },
          scoreThreshold: {
            type: Number,
            value: 5
          },
          includeMotionPixels: {    // Not much point to do anything if this isn't true
            type: Boolean,
            value: true
          },
          captureCallback: {        // Callback function called when a difference image is ready
            type: Function,
            observer: '_captureCallbackChanged'
          },
          captureCallbackHandlers: {
            type: Array,
            value: function () {
              return [];
            }
          },
          showMotionDetection: {    // Show the difference image
            type: Boolean,
            value: false
          }
        };
      }

      ready () {
        super.ready();
        if (this.captureCallback==undefined)
          this.captureCallback = function () {};
        this.captureCanvas = document.createElement('canvas');
		    this.diffCanvas = document.createElement('canvas');
        this.motionCanvas = document.createElement('canvas');

        // prep capture canvas
		    this.captureCanvas.width = this.captureWidth;
	      this.captureCanvas.height = this.captureHeight;
		    this.captureContext = this.captureCanvas.getContext('2d');

		    // prep diff canvas
		    this.diffCanvas.width = this.diffWidth;
		    this.diffCanvas.height = this.diffHeight;
		    this.diffContext = this.diffCanvas.getContext('2d');

		    // prep motion canvas
		    this.motionCanvas.width = this.diffWidth;
		    this.motionCanvas.height = this.diffHeight;
		    this.motionContext = this.motionCanvas.getContext('2d');

        this.canvas = document.createElement('canvas');
        this.canvas.width = 640;
        this.canvas.height = 480;
        this.context = this.canvas.getContext('2d');
        this.context.globalCompositeOperation = 'difference';
        var _this = this;
        setInterval(function () {   // Calculate difference image ten times a second
          _this.capture(_this);
        }, 100);
        if (this.showMotionDetection)
          this.$.processed.appendChild(this.motionCanvas);
      }

      capture () {
        this.context.drawImage (this.$.videoElement, 0, 0, 640, 480);
        //var imageData = this.context.getImageData ();

        // save a full-sized copy of capture
		    this.captureContext.drawImage(this.$.videoElement, 0, 0, this.captureWidth, this.captureHeight);
		    var captureImageData = this.captureContext.getImageData(0, 0, this.captureWidth, this.captureHeight);

		    // diff current capture over previous capture, leftover from last time
		    this.diffContext.globalCompositeOperation = 'difference';
	      this.diffContext.drawImage(this.$.videoElement, 0, 0, this.diffWidth, this.diffHeight);
		    var diffImageData = this.diffContext.getImageData(0, 0, this.diffWidth, this.diffHeight);

	      if (this.isReadyToDiff) {
			    var diff = this.processDiff(diffImageData);
			    this.motionContext.putImageData(diffImageData, 0, 0);

          if (diff.score >= this.scoreThreshold) {  // Only call callback when motion is detected
            var motionData = {
  				    score: diff.score,
  				    hasMotion: diff.score >= this.scoreThreshold,
  				    motionPixels: diff.motionPixels,
              getURL: function() {
  					    return this.getCaptureUrl(this.imageData);
  				    }
  			    };
            for (var i=0; i<this.captureCallbackHandlers.length; i++)
              this.captureCallbackHandlers[i](motionData);
          }
        }

		    // draw current capture normally over diff, ready for next time
		    this.diffContext.globalCompositeOperation = 'source-over';
		    this.diffContext.drawImage(this.$.videoElement, 0, 0, this.diffWidth, this.diffHeight);
        this.isReadyToDiff = true;
      }

      processDiff(diffImageData) {
        var rgba = diffImageData.data;

        // pixel adjustments are done by reference directly on diffImageData
        var score = 0;
        var motionPixels = this.includeMotionPixels ? [] : undefined;

        for (var i = 0; i < rgba.length; i += 4) {
          var pixelDiff = rgba[i] * 0.3 + rgba[i + 1] * 0.6 + rgba[i + 2] * 0.1;
          var normalized = Math.min(255, pixelDiff * (255 / this.pixelDiffThreshold));
          rgba[i] = 0;
          rgba[i + 1] = normalized;
          rgba[i + 2] = 0;

          if (pixelDiff >= this.pixelDiffThreshold) {
            score++;
            var coords = this.calculateCoordinates(i / 4);

            if (this.includeMotionPixels) {
              motionPixels = this.calculateMotionPixels(motionPixels, coords.x, coords.y, pixelDiff);
            }

          }
        }

        return {
          score: score,
          motionPixels: motionPixels
        };
      }

      calculateCoordinates(pixelIndex) {
    		return {
    			x: pixelIndex % this.diffWidth,
    			y: Math.floor(pixelIndex / this.diffWidth)
    		};
    	}

      calculateMotionPixels(motionPixels, x, y, pixelDiff) {
		    motionPixels[x] = motionPixels[x] || [];
		    motionPixels[x][y] = pixelDiff;

		    return motionPixels;
	    }

      getCaptureUrl(captureImageData) {
		    // may as well borrow captureCanvas
		    this.captureContext.putImageData(captureImageData, 0, 0);
		    return this.captureCanvas.toDataURL();
	    }

      checkMotionPixel(motionPixels, x, y) {
		    return motionPixels && motionPixels[x] && motionPixels[x][y];
	    }

      _sourceChanged () {
        this.$.videoElement.srcObject = this.source;
        console.log ("Source Changed");
      }

      _captureCallbackChanged () {
        this.captureCallbackHandlers.push(this.captureCallback);
        console.log (this.captureCallbackHandlers.length);
      }
    }

    window.customElements.define(MotionDetection.is, MotionDetection);
  </script>
</dom-module>
