<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="canvas-item">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `canvas-items`
     * Items on a canvas, simplifies animation
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CanvasItem extends Polymer.Element {
      static get is() { return 'canvas-item'; }
      static get properties() {
        return {
          x: {
            type: Number,
            notify: true
          },
          y: {
            type: Number,
            notify: true
          },
          fx: {
            type: Number,
            notify: true,
            observer: '_fxChanged'
          },
          fy: {
            type: Number,
            notify: true,
            observer: '_fyChanged'
          },
          vx: {
            type: Number,
            value: 0
          },
          vy: {
            type: Number,
            value: 0
          },
          dampening: {
            Type: Number,
            value: 2
          },
          gravity: {
            type: Number,
            value: 0
          },
          forces: {
            type: Array
          }
        };
      }

      ready() {
        if (this.x == undefined||isNaN(this.x))
          this.x = 100;
        if (this.x == undefined||isNaN(this.y))
          this.y = 100;
        var _this = this;
        window.setInterval(function() {
          _this.update();
        }, 100);
      }

      update() {
        this.x += this.vx;
        this.vx /= this.dampening;
        this.y += this.vy;
        this.vy /= this.dampening;
      }

      _fxChanged() {
        this.vx += this.fx/50;
      }
      _fyChanged() {
        this.vy += this.fy/50;
      }

      draw(context) {
        context.beginPath();
        context.arc(this.x, this.y, 20, 0, 2 * Math.PI, false);
        context.fillStyle = 'green';
        context.fill();
        context.lineWidth = 5;
        context.strokeStyle = '#003300';
        context.stroke();
        for (var i=0; i<this.forces.length; i++) {
          context.beginPath();
          context.arc(this.forces[i].x, this.forces[i].y, 5, 0, 2 * Math.PI, false);
          context.fillStyle = 'rgb('+Math.floor(this.forces[i].strength)+',0,0)';
          context.fill();
          context.closePath();
          context.beginPath();
          context.arc(this.forces[i].centerX, this.forces[i].centerY, 5, 0, 2 * Math.PI, false);
          context.fillStyle = 'rgb(0,255,0)';
          context.fill();
          context.closePath();
        }
      }
    }

    window.customElements.define(CanvasItem.is, CanvasItem);
  </script>
</dom-module>
