<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="scaled-from-video-canvas">
  <template>
    <style>
      :host {
        display: block;
      }
      canvas {
        position: absolute;
        border: 1px solid red;
      }
    </style>
    <canvas id="canvas"></canvas>
  </template>

  <script>
    /**
     * `scaled-from-video-canvas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ScaledFromVideoCanvas extends Polymer.Element {
      static get is() { return 'scaled-from-video-canvas'; }
      static get properties() {
        return {
          sourceRect: {
            type: Object,
            observer: '_sourceRectChanged'
          },
          viewportRect: {
            type: Object,
            observer: '_viewportRectChanged'
          },
          height: {
            type: Number,
            notify: true
          },
          width: {
            type: Number,
            notify: true
          },
          mirror: {
            type: Boolean,
            value: false
          },
          canvasCtx: {
            type: Object,
            notify: true
          },
          showForce: {
            type: Function,
            notify: true
          }
        };
      }
      ready () {
        super.ready();
        this.ctx = this.$.canvas.getContext('2d');
        this.$.canvas.style.transform =
            'scale(' + (this.mirror
                ? -1
                : 1) + ', 1)';
        var _this = this;
        this.showForce = function (e) {
          _this.show (e);
        };
        function step (timestamp) {
          _this.updateAnimation();
          window.requestAnimationFrame(step);
        }
        window.requestAnimationFrame(step);
      }

      updateAnimation () {
        this.ctx.clearRect(0, 0, this.width, this.height);
        for (var i=0; i<this.children.length; i++) {
          this.children[i].draw(this.ctx);
        }
      }

      show (e) {
        if (!e.hasMotion||e.score>6000)     // score of above 6000 is probably just noise
          return;
        var vx = 0;
        var vy = 0;
        this.ctx.clearRect(0, 0, this.width, this.height);
        for (var i in e.motionPixels) {
          for (var ii in e.motionPixels[i]) {
            this.ctx.beginPath();
            this.ctx.arc(i*2, ii*2, 3, 0, Math.PI * 2, false);
            this.ctx.fillStyle = "rgb("+e.motionPixels[i][ii]+",0,0)";
            this.ctx.fill();
          }
        }
      }
      _sourceRectChanged() {
        console.log ("source rect changed");
        console.log (this.sourceRect);
        if (this.viewportRect==undefined||this.sourceRect==undefined)
          return;
        var tmp = this;
        while (tmp.nodeName!="BODY") {
          tmp = tmp.parentElement;
        }
        var vScale = this.viewportRect.width/this.sourceRect.width;
        var hScale = this.viewportRect.height/this.sourceRect.height;
        this.$.canvas.style.top = (this.viewportRect.top+tmp.scrollTop-this.sourceRect.top*vScale)+"px";
        this.$.canvas.style.left = (this.viewportRect.left-this.sourceRect.left*hScale)+"px";

        var normal = 640.0/480.0;
        var ratio = this.viewportRect.width/this.viewportRect.height;

        if (ratio>normal) {
          this.$.canvas.style.width = this.viewportRect.width/(ratio/normal)+"px";
          this.width = this.viewportRect.width/(ratio/normal);
          this.height = this.viewportRect.height;
        } else {
          this.$.canvas.style.height = this.viewportRect.height/(normal/ratio)+"px";
          this.height = this.viewportRect.height/(normal/ratio);
          this.width = this.viewportRect.width;
        }
        this.$.canvas.height = this.height;
        this.$.canvas.width = this.width;

      }

      _viewportRectChanged() {
        console.log ("viewport rect changed");
        console.log (this.viewportRect);
        this.$.canvas.style.left = this.viewportRect.left+"px";
        var tmp = this;
        while (tmp.nodeName!="BODY") {
          tmp = tmp.parentElement;
        }
        this.$.canvas.style.top = (this.viewportRect.top+tmp.scrollTop)+"px";
        this.$.canvas.style.height = this.viewportRect.height+"px";
        this.$.canvas.style.width = this.viewportRect.width+"px";
      }
    }

    window.customElements.define(ScaledFromVideoCanvas.is, ScaledFromVideoCanvas);
  </script>
</dom-module>
