<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>motion-detection</title>
    <meta name="description" content="motion-detection description">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="src/motion-detection-app/motion-detection-app.html">

    <link rel="import" href="bower_components/polymer/lib/elements/dom-bind.html">
    <link rel="import" href="bower_components/app-media/app-media-stream.html">
    <link rel="import" href="bower_components/app-media/app-media-video.html">
    <link rel="import" href="src/motion-detection/motion-detection.html">
    <link rel="import" href="src/force-calculator/force-calculator.html">
    <link rel="import" href="src/scaled-from-video-canvas/scaled-from-video-canvas.html">
    <link rel="import" href="src/canvas-item/canvas-item.html">
    <style media="screen">
      app-media-video {
        width: 640px;
        height: 480px;
      }
    </style>
  </head>
  <body>
    <dom-bind>
      <template>
        <app-media-stream stream="{{stream}}" video-constraints='{"facingMode":"user"}' active></app-media-stream>
        <app-media-video source="[[stream]]" source-rect="{{sourceRect}}" viewport-rect="{{viewportRect}}" autoplay mirror contain></app-media-video>
        <scaled-from-video-canvas source-rect="{{sourceRect}}" viewport-rect="{{viewportRect}}" mirror>
          <canvas-item x="{{i1x}}" y="{{i1y}}" fx="[[i1fx]]" fy="[[i1fy]]" forces="{{forces}}"></canvas-item>
        </scaled-from-video-canvas>
        <motion-detection source="[[stream]]" pixel-diff-threshold="{{treshold}}" capture-callback={{calculateForce}}></motion-detection>
        <input type="number" min="1" max="512" value="{{treshold::input}}">
        <force-calculator x="[[i1x]]" y="[[i1x]]" fx="{{i1fx}}" fy="{{i1fy}}" forces="{{forces}}" calculate-force="{{calculateForce}}"></force-calculator>
      </template>
    </dom-bind>
  </body>
</html>
