<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="canvas-items">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `canvas-items`
     * Items on a canvas, simplifies animation
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CanvasItems extends Polymer.Element {
      static get is() { return 'canvas-items'; }
      static get properties() {
        return {
          x: {
            type: Number,
            notify: true
          },
          y: {
            type: Number,
            notify: true
          },
          fx: {
            type: Number,
            notify: true
            observer: '_fxChanged'
          },
          fy: {
            type: Number,
            notify: true
            observer: '_fyChanged'
          },
          vx: {
            type: Number,
            value: 0
          },
          vy: {
            type: Number,
            value: 0
          },
          dampening: {
            Type: Number,
            value: 1
          },
          gravity: {
            type: Number,
            value: 0
          }
        };
      }

      _fxChanged() {
        console.log (this.fx);
      }
      _fyChanged() {
        console.log (this.fy);
      }

      draw(context) {
        this.ctx.beginPath();
        this.ctx.arc(this.x, this.y, 20, 0, 2 * Math.PI, false);
        this.ctx.fillStyle = 'green';
        this.ctx.fill();
        this.ctx.lineWidth = 5;
        this.ctx.strokeStyle = '#003300';
        this.ctx.stroke();
      }
    }

    window.customElements.define(CanvasItems.is, CanvasItems);
  </script>
</dom-module>
